astroid==3.3.8
black==25.1.0
boto3==1.36.9
botocore==1.36.9
cfgv==3.4.0
click==8.1.8
dill==0.3.9
distlib==0.3.9
filelock==3.17.0
identify==2.6.6
isort==6.0.0
jmespath==1.0.1
mccabe==0.7.0
mypy-extensions==1.0.0
nodeenv==1.9.1
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
pre_commit==4.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyYAML==6.0.2
s3transfer==0.11.2
six==1.17.0
termcolor==2.5.0
tomlkit==0.13.2
urllib3==2.3.0
virtualenv==20.29.1
